@model IEnumerable<TaskManagementSystem.Models.Task>

@{
    ViewBag.Title = "Index";
}
<div><span id="notification" style="color:red;font-size:15px;"></span></div>

<h2>Задача</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
    @Html.ActionLink("Добавить по шаблону", "Create", new { fromTemplate = true })
    @Html.ActionLink("Добавить шаблон", "Create", new { template = true })
</p>
<div id="tasks-notes" class="tasks-notes">
    <input type="text" class="search" />
    <select class="sort">
        <option  value="title">
            Сортировать по названию
        </option>
        <option value="priority">
            Сортировать по приоритету
        </option>
        <option value="time">
            Сортировать по времени
        </option>
        <option value="type">
            Сортировать по типу
        </option>
    </select>
    @Html.Partial("ShowListTasks", Model)
    </div>
    @Html.ActionLink("Перейти к завершенным задачам", "History")
    @section scripts {
        <script type="text/javascript">
            var list = new List('tasks-notes', {
                valueNames: ['title', 'description', 'priority', 'time', 'type'],
                page: 10,
                pagination: true
            }
                );

            $('select.sort').change(function () {
                var selection = $(this).val();
                list.sort(selection);
            });
        </script>
    }
