@model TaskManagementSystem.Models.Project

@{
    ViewBag.Title = "Delete";
}

<h2>Вы действительно хотите удалить проект?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamLead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLead.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Назад к списку", "Index", null, new { @class="btn btn-default"})
        </div>
    }
</div>
