@model TaskManagementSystem.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>
    @Html.DisplayFor(model => model.ProjectName)
</h2>

<div>
    @if (User.IsInRole("Admin") || Model.TeamLead.UserName.Equals(User.Identity.Name))
    {
    @Html.ActionLink("Добавить Задачу", "Create", "Tasks", new { projectId = Model.ID }, null)
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamLead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLead.UserName)
        </dd>

        <dt> @Html.DisplayNameFor(model => model.Tasks)</dt>
 
    @if ((ViewBag.Tasks as List<TaskManagementSystem.Models.Task>).Count != 0)
    {
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().AssignedUser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().TaskStatus.Status)

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().TaskPriority.Priority)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var task in ViewBag.Tasks as IEnumerable<TaskManagementSystem.Models.Task>)
                    {
                        <tr id="@task.ID">
                            <td> @Html.ActionLink(task.Title, "Details", "Tasks", new { id = task.ID },null)  </td>
                            @if (task.AssignedUser != null)
                            {
                                <td>@task.AssignedUser.UserName</td>
                            }
                            else
                            {
                                <td>@task.Group.Name</td>
                            }
                            <td> @task.TaskStatus.Status </td>
                            <td> @task.TaskPriority.Priority </td>
                            @if (User.IsInRole("Admin") || Model.TeamLead.UserName.Equals(User.Identity.Name))
                            {
                                <td>
                                    @Ajax.ActionLink("Удалить", "Delete", "Tasks", new { id = task.ID }, new AjaxOptions{ HttpMethod = "GET", OnSuccess = "remove(" + task.ID + ")"}, new { @class = "btn btn-danger" })
                                </td>
                            }
                           
                        </tr>
                    }
                </tbody>
            </table>
          </dd>
            }
            else
            {
<dd> На этом проекте нет заданий</dd>
    }
    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || Model.TeamLead.UserName.Equals(User.Identity.Name))
    {
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit" })
    }
    @Html.ActionLink("Назад к списку", "Index", null, new { @class = "btn btn-default btn-sm" })
</p>


@section Scripts{
    <script>
    function remove(id)
    {
        $('#' + id).remove();
    }
</script>
    }