@model IEnumerable<TaskManagementSystem.Models.Task>
@using Shared

@if (Model != null && Model.Count() != 0)
{
            <ul class="list ul-tasks-notes">
                @foreach (var item in Model)
                {
                    <li class="li-tasks-notes" >
                        
                        <a class="sad" href="@Url.Action("Details","Tasks",new { id = item.ID })" 
                        style="background-color:@Shared.Helper.GetColorByPriority(item.TaskPriority.Priority);
                         border: @Shared.Helper.GetBorderByStatus(item.TaskStatus.Status);">
                            @if (item.ScheduledTime.HasValue && (item.ScheduledTime.Value.Date == DateTime.Now.Date))
                            {
                            <b style="color:black;float:right"> !!!</b>
                            }
                            <h4 class="title"> @item.Title</h4>
                            <p class="description"> @item.TaskType.Type</p>
                            <p class="priority" style="display:none">@item.TaskPriorityId</p>
                            <p class="time" style="display:none">@if (item.ScheduledTime.HasValue) {@item.ScheduledTime.Value.ToString("o");}</p>
                            <p class="type" style="display:none">@item.TaskTypeId</p>
                        </a>
                    </li>
                }
            </ul>
            <ul class="pagination"> </ul>
}
    