@model IEnumerable<TaskManagementSystem.Models.Task>
@using Shared

@if (Model != null && Model.Count() != 0)
{
            <ul class="list ul-tasks-notes">
                @foreach (var item in Model)
                {
                    <li class="li-tasks-notes" >
                        <a class="sad" href="@Url.Action("Details","Tasks",new { id = item.ID })" 
                        style="background-color:@Shared.Helper.GetColorByPriority(item.TaskPriority.Priority);
                         border: @Shared.Helper.GetBorderByStatus(item.TaskStatus.Status);">
                            @if (item.ScheduledTime.HasValue && (item.ScheduledTime.Value.Date == DateTime.Now.Date))
                            {
                            <b style="color:black;float:right"> !!!</b>
                            }
                            <b><span class="title"> @item.Title</span></b>
                            <span class="description"> @item.TaskType.Type</span>
                            @if (item.AssignedUser != null)
                            {
                            <span>@item.AssignedUser.UserName</span>
                            }
                            else
                            {
                                <span>@item.Group.Name</span>
                            }
                            <p class="priority" style="display:none">@item.TaskPriorityId</p>
                            <p class="time" style="display:none">@if (item.ScheduledTime.HasValue) {@item.ScheduledTime.Value.ToString("o");}</p>
                            <p class="type" style="display:none">@item.TaskTypeId</p>
                        </a>
                    </li>
                }
            </ul>
          if (Model.Count() > 10)
          {
               <ul class="pagination"> </ul>
          }
          }
    